# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/

# VS Code workspace settings
.vscode/*.code-workspace

# Logs and temp files
*.log
*.tmp
*.swp
